body {
    background-color: #ffffff;
    background-image: url("../../assets/imagenes/login.svg");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: top left;
}

.div-exterior {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;    
}

.tarjeta {
    text-align: center;
    border: 1px solid #cccc;
    border-radius: 5px;
    padding: 50px;
    width: 30%;
    margin-right: 10%;
    box-shadow: 0px 0px 5px 5px #afababa4;
    gap: 5px;
}

.tarjeta form div {
    margin-bottom: 10px;    
}

.tarjeta form label {
    margin-bottom: 7px;
    display: flex;
}